@page "/categories"
@inject CategoryService CategoryService

<PageTitle>Categories</PageTitle>

<table>
    <thead>
        <tr>Id</tr>
        <tr>Name</tr>
        <tr>CreatedAt</tr>
        <tr>UpdatedAt</tr>
    </thead>
    <tbody>
        @foreach (var item in _result.Categories.Data)
        {
            <tr>@item.Id</tr>
            <tr>@item.Name</tr>
            <tr>@item.CreatedAt</tr>
            <tr>@item.UpdatedAt</tr>
        }
    </tbody>
</table>

@code {
    private GetCategoriesResult _result;

    protected override async Task OnInitializedAsync()
    {
        _result = await CategoryService.GetCategoriesAsync()!;
    }
}